---
# Center-Button CSS
---

@import 'variables';

.center-button {
  background-color: $dark;
  border-radius: 25px;
  color: $light;
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;

  a {
    color: $light;
    text-decoration: underline;

    &:hover {
      color: $light;
      text-decoration: none;
    }
  }
}
