---
# Post CSS
---

@import 'variables';

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: $base-font-size * 3;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 1;
}

p a {
  border-bottom: 1px dashed $neutral;

  &.expando {
    border: 0;
  }
}

// Blockquotes
blockquote {
  border-left: 4px solid $dark;
  color: $dark;
  font-size: $base-font-size;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;
}

.post-meta {
  color: $neutral;
  font-size: $small-font-size;
}