<header class="site-header no-print">

  <div class="wrapper">
    <nav class="site-nav" style="float:left">
      <div class="trigger">
        {% for link in site.social_media %}
          {% if link.icon %}
          <a class="page-link" href="{{ link.url }}">{% include mdiPartial.html icon=link.icon %}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.icon %}
            {% unless my_page.url contains "page" %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{% include materialIconPartial.html icon=my_page.icon %}</a>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
