<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  	<style type="text/css">
    	{% capture include_to_scssify %}
      		{% include critical.scss %}
    	{% endcapture %}
    	{{ include_to_scssify | scssify }}
  	</style>

  	{% include google-analytics.js %}
  	{% include hide-assides.js %}
  	{% include loadCSS.js %}
	{% include cssrelpreload.js %}

	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></noscript>
	<link rel="preload" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css"></noscript>
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Quicksand" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand"></noscript>

	{% for stylesheet in include.styles %}
		<link rel="stylesheet" href="{{ stylesheet }}">
  	{% endfor %}

	{% include favicons.html %}
	{% seo title=false %}
</head>
