@charset "utf-8";



// Our variables
$base-font-family: 'Quicksand', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:   30px;

$dark:  #445870;
$neutral: #637ea0;
$light: #e9edf1;
$black: #000;

// Width of the content area
$content-width:  800px;

$on-palm:      600px;
$on-laptop:    800px;



// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none;
  }

  .print-simplify,
  .print-simplify * {
    border-style: none;
    color: $black;
  }

  .license {
    display: none;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
'base',
'layout',
'syntax-highlighting';
