// Reset some basic elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

// Basic styling
html {
  overflow-y: scroll;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

}

// Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// Lists
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

// Links
a {
  color: $neutral;
  text-decoration: none;

  &:hover {
    color: $dark;
  }

}

// Blockquotes
blockquote {
  border-left: 4px solid $dark;
  color: $dark;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}

// Code formatting
pre,
code {
  background-color: $dark;
  border: 1px solid $light;
  border-radius: 3px;
  color: $light;
  font-size: 15px;
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

// Wrapper
.wrapper {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

// Clearfix
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Canvas
canvas {
  border: solid 3px $dark;
  outline: none;
}

// Icons
.icon {

  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: $neutral;
    }
  }
}

.material-icons {
  vertical-align: middle;
}

.mdi::before {
  vertical-align: middle;
}
