/**
 * Site header
 */
.site-header {
    background-color: $dark;
    box-shadow: 0 0 0 5px $dark;
    -webkit-box-shadow: 0px 0px 0px 5px $dark;
    -moz-box-shadow: 0px 0px 0px 5px $dark;
    min-height: 56px;
    border-radius: 0 0 10px 10px;

    // Positioning context for the mobile navigation icon
    position: relative;

    & a {
        color: $light;

        &:hover {
            color: $light;
            text-shadow: 0px 0px 20px $light;
        }
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $light;
    color: $dark;
    border-radius: 0 0 25px 25px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $neutral;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 29px;

        @include media-query($on-laptop) {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Additional Thingies
 */
.center-button {
    max-width: 500px;
    margin: 0 auto;
    background-color:$dark;
    color:$light;
    border-radius:25px;
    padding:15px;
    line-height:1.75;

    & a {
        color: $light;
        text-decoration: underline;

        &:hover {
            color: $light;
            text-decoration: none;
        }
    }

    & h1 {
        font-size: 1.5em;
    }
}

.poem {
    background-color: transparent;
    color: $dark;
    line-height: 2;
}

.hover-fade {
    &:hover {
        opacity:0.8;
    }
}

/**
 * ATM not needed but for reference and future use.
 */

@include media-query($on-palm) {
    .page-content {
        border-radius: 0;
    }

    .site-header {
        border-radius: 0;
    }
}

