/**
 * Site header
 */
.site-header {
    background-color: $dark;
    box-shadow: 0 0 0 5px $dark;
    -webkit-box-shadow: 0px 0px 0px 5px $dark;
    -moz-box-shadow: 0px 0px 0px 5px $dark;
    min-height: 56px;
    border-radius: 0 0 10px 10px;

    // Positioning context for the mobile navigation icon
    position: relative;

    & a {
        color: $light;

        &:hover {
            color: $light;
            text-shadow: 0px 0px 20px $light;
        }
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $light;
    color: $dark;
    border-radius: 0 0 25px 25px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $neutral;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 29px;

        @include media-query($on-laptop) {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Additional Thingies
 */

@-webkit-keyframes rotate-to-box {
    25% { border-radius: 50% 50% 50% 25px; -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    50% { border-radius: 50% 50% 25px 25px; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    75% { border-radius: 50% 25px 25px 25px; -webkit-transform: rotate(270deg); transform: rotate(270deg); }
    100% { border-radius: 25px 25px 25px 25px; -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rotate-to-box {
    25% { border-radius: 50% 50% 50% 25px; -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    50% { border-radius: 50% 50% 25px 25px; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    75% { border-radius: 50% 25px 25px 25px; -webkit-transform: rotate(270deg); transform: rotate(270deg); }
    100% { border-radius: 25px 25px 25px 25px; -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes expand-square {
  100% {  min-height: none; max-height: none; min-width: none; max-width: 500px; }
}

@keyframes expand-square {
  100% {  min-height: none; max-height: none; min-width: none; max-width: 500px; }
}

@-webkit-keyframes display-text {
  50% { line-height: 1.75; }
  100% { opacity: 1; line-height: 1.75; }
}

@keyframes display-text {
  50% { line-height: 1.75; }
  100% { opacity: 1; line-height: 1.75; }
}

.center-button {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 0 auto;
    background-color:$dark;
    color:$light;
    border-radius:50% 50% 50% 50%;
    padding:15px;
    line-height:1.75;
    -webkit-animation: rotate-to-box 1000ms 1000ms linear forwards,
        expand-square 300ms 2000ms forwards;
    animation: rotate-to-box 1000ms 1000ms linear forwards,
        expand-square 300ms 2000ms forwards;

    & a {
        color: $light;
        text-decoration: underline;

        &:hover {
            color: $light;
            text-decoration: none;
        }
    }

    & h1 {
        font-size: 1.5em;
    }
}

.center-button-text {
  color: #e9edf1;
  line-height: 0;
  opacity: 0;
  -webkit-animation: display-text 300ms 2300ms forwards;
  animation: display-text 300ms 2300ms forwards;
}

body {
  font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.poem {
    background-color: transparent;
    color: $dark;
    line-height: 2;
}

.hover-fade {
    &:hover {
        opacity:0.95;
    }
}

/**
 * ATM not needed but for reference and future use.
 */

@include media-query($on-palm) {
    .page-content {
        border-radius: 0;
    }

    .site-header {
        border-radius: 0;
    }
}

