// Site header
.site-header {
  background-color: $dark;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 0 5px $dark;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  a {
    color: $light;
    display: inline-block;

    &:hover {
      animation-duration: 400ms;
      color: $light;
      transform: translateY(-3px);
    }
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// Page content
.page-content {
  background-color: $light;
  border-radius: 0 0 25px 25px;
  color: $dark;
  padding: $spacing-unit 0;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $neutral;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

.license {
  color: $neutral;
  font-size: 12px;
  text-align: center;
}

// Posts
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  h1 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 29px;

    @include media-query($on-laptop) {
      font-size: 25px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  p a {
    border-bottom: 1px dashed $neutral;

    &.expando {
      border: 0;
    }
  }

  .post-share-buttons {
    text-align: right;
  }
}


// Additional Thingies

.head-drawing {
  height: 100%;
  width: 100%;
}

.center-button {
  background-color: $dark;
  border-radius: 25px;
  color: $light;
  line-height: 1.75;
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;

  a {
    color: $light;
    text-decoration: underline;

    &:hover {
      color: $light;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 1.5em;
  }
}

.center-button-text {
  color: #dark;
}

.poem {
  background-color: transparent;
  color: $dark;
  line-height: 2;
}

.hover-fade {
  &:hover {
    opacity: .95;
  }
}

.expando::after {
  content: 'expand_more';
}

.expando.opened::after {
  content: 'expand_less';
}

.expando-target {
  display: none;

  &.opened {
    display: block;
  }
}

// ATM not needed but for reference and future use.

@include media-query($on-palm) {
  .page-content {
    border-radius: 0;
  }

  .head-drawing {
    animation: expand-head 0s 0s linear forwards;
    height: 100%;
    opacity: 1;
    width: 100%;
  }

  .site-header {
    border-radius: 0;
  }
}

