// Our variables
$base-font-family: 'Quicksand', Helvetica, Arial, sans-serif;
$base-font-size:   1rem;
$base-font-weight: 100;
$small-font-size:  $base-font-size * .875;
$base-line-height: 2;

$spacing-unit:   $base-font-size;

$dark:  #445870;
$neutral: #637ea0;
$light: #e9edf1;
$black: #000;
$dark-highlight: rgba(255, 255, 255, .2);
$light-highlight: rgba(99, 126, 160, .2);

// Width of the content area
$content-width:  800px;
