@keyframes fadeChange {
  0%   { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

.a {
    animation: fadeChange 8s infinite;
}

.b {
    animation: fadeChange 12s infinite;
}

.c {
    animation: fadeChange 13s infinite;
}

.d {
    animation: fadeChange 7s infinite;
}

.e {
    animation: fadeChange 10s infinite;
}

.f {
    animation: fadeChange 10s infinite;
}

.g {
    animation: fadeChange 7s infinite;
}

.h {
    animation: fadeChange 12s infinite;
}

.i {
    animation: fadeChange 7s infinite;
}

.j {
    animation: fadeChange 10s infinite;
}

.k {
    animation: fadeChange 8s infinite;
}

.l {
    animation: fadeChange 12s infinite;
}

.m {
    animation: fadeChange 14s infinite;
}

.n {
    animation: fadeChange 14s infinite;
}

.o {
    animation: fadeChange 12s infinite;
}

.p {
    animation: fadeChange 13s infinite;
}

.q {
    animation: fadeChange 7s infinite;
}

.r {
    animation: fadeChange 7s infinite;
}

.s {
    animation: fadeChange 5s infinite;
}

.t {
    animation: fadeChange 14s infinite;
}

.u {
    animation: fadeChange 9s infinite;
}

.v {
    animation: fadeChange 6s infinite;
}

.w {
    animation: fadeChange 13s infinite;
}

.x {
    animation: fadeChange 9s infinite;
}

.y {
    animation: fadeChange 5s infinite;
}

.z {
    animation: fadeChange 9s infinite;
}

.A {
    animation: fadeChange 6s infinite;
}

.B {
    animation: fadeChange 5s infinite;
}

.C {
    animation: fadeChange 13s infinite;
}

.D {
    animation: fadeChange 14s infinite;
}

.E {
    animation: fadeChange 10s infinite;
}

.F {
    animation: fadeChange 9s infinite;
}

.G {
    animation: fadeChange 7s infinite;
}

.H {
    animation: fadeChange 6s infinite;
}

.I {
    animation: fadeChange 5s infinite;
}

.J {
    animation: fadeChange 13s infinite;
}

.K {
    animation: fadeChange 8s infinite;
}

.L {
    animation: fadeChange 5s infinite;
}

.M {
    animation: fadeChange 14s infinite;
}

.N {
    animation: fadeChange 9s infinite;
}

.O {
    animation: fadeChange 11s infinite;
}

.P {
    animation: fadeChange 5s infinite;
}

.Q {
    animation: fadeChange 5s infinite;
}

.R {
    animation: fadeChange 6s infinite;
}

.S {
    animation: fadeChange 10s infinite;
}

.T {
    animation: fadeChange 12s infinite;
}

.U {
    animation: fadeChange 10s infinite;
}

.V {
    animation: fadeChange 10s infinite;
}

.W {
    animation: fadeChange 12s infinite;
}

.X {
    animation: fadeChange 14s infinite;
}

.Y {
    animation: fadeChange 5s infinite;
}

.Z {
    animation: fadeChange 5s infinite;
}

.aa {
    animation: fadeChange 13s infinite;
}

.bb {
    animation: fadeChange 8s infinite;
}

.cc {
    animation: fadeChange 14s infinite;
}

.dd {
    animation: fadeChange 9s infinite;
}

.ee {
    animation: fadeChange 11s infinite;
}

.ff {
    animation: fadeChange 6s infinite;
}

.gg {
    animation: fadeChange 7s infinite;
}

.hh {
    animation: fadeChange 14s infinite;
}

.ii {
    animation: fadeChange 9s infinite;
}

.jj {
    animation: fadeChange 9s infinite;
}

.kk {
    animation: fadeChange 7s infinite;
}

.ll {
    animation: fadeChange 8s infinite;
}

.mm {
    animation: fadeChange 13s infinite;
}

.nn {
    animation: fadeChange 7s infinite;
}

.oo {
    animation: fadeChange 13s infinite;
}

.pp {
    animation: fadeChange 11s infinite;
}

.qq {
    animation: fadeChange 8s infinite;
}

.rr {
    animation: fadeChange 6s infinite;
}

.ss {
    animation: fadeChange 12s infinite;
}

.tt {
    animation: fadeChange 12s infinite;
}

.uu {
    animation: fadeChange 14s infinite;
}

.vv {
    animation: fadeChange 14s infinite;
}

.ww {
    animation: fadeChange 5s infinite;
}

.xx {
    animation: fadeChange 11s infinite;
}

.yy {
    animation: fadeChange 6s infinite;
}

