---
layout: compress
---

<!DOCTYPE html>
<html ⚡>

  {% capture stylesheet %}
    {% if layout.stylesheet %}
      {{ layout.stylesheet }}
    {% endif %}
    {% if page.stylesheet %}
      {{ page.stylesheet }}
    {% endif %}
  {% endcapture %}

  {% assign stylesheet = stylesheet | strip %}

  {% assign amp = page.amp %}

  {% include head.html styles=stylesheet amps=amp %}

  <body>
    {{ layout.layout.stylesheet }}
    <div class="page-content print-simplify">
      {% include header.html %}
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

	<div class="license">{{ site.license }}</div>

  </body>

</html>
